<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/loginA.css">
    <link rel="stylesheet" href="../css/toast.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Toastify/1.11.2/Toastify.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Toastify/1.11.2/Toastify.min.js"></script>
</head>
<body>
  <div class="contenedor-toast" id="contenedor-toast"></div>
  <div id="back">
    <canvas id="canvas" class="canvas-back"></canvas>
    <div class="backRight"></div>
    <div class="backLeft"></div>
  </div>
  
  <div id="slideBox">
    <div class="topLayer">
      <div class="left">
        <div class="content">
          <h2>Registrar</h2> 
          <form id="form-signup" >
            <div class="form-element form-stack">
              <label for="Nombre" class="form-label">Nombre</label>
              <input id="Nombre" type="text" name="Nombre" >
            </div>
            <div class="form-element form-stack">
              <label for="username-signup" class="form-label">Username</label>
              <input id="username-signup" type="text" name="username" >
            </div>
            <div class="form-element form-stack">
              <label for="password-signup" class="form-label">Password</label>
              <input id="password-signup" type="password" name="password" >
            </div>
            <div class="form-element form-checkbox">
              <input id="confirm-terms" type="checkbox" name="confirm" value="yes" class="checkbox" >
              <label for="confirm-terms">Acepto los <a href="#">Términos de Servicio</a> y la <a href="#">Política de Privacidad</a></label>
            </div>
            <div class="form-element form-submit">
              <button id="signUp" class="signup" type="submit" name="signup">Registrar</button> 
              <button id="goLeft" class="signup off" onclick="return false;">Iniciar Sesión</button> 
            </div>
          </form>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <h2>Iniciar Sesión</h2> 
          <form id="form-login">
            <div class="form-element form-stack">
              <label for="username-login" class="form-label">Username</label>
              <input id="username-login" type="text" name="username" required>
            </div>
            <div class="form-element form-stack">
              <label for="password-login" class="form-label">Password</label>
              <input id="password-login" type="password" name="password" required>
            </div>
            <div class="form-element form-submit">
              <button id="logIn" class="login" type="submit" name="login">Iniciar Sesión</button>
              <button id="goRight" class="login off" name="signup" onclick="return false;">Registrar</button> <!-- Cambiado a "Registrar" -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
<script src="../controller/login.js"></script>
<script src="../js/toast.js"></script>
<script src="../js/loginA.js"></script>
</html>